mat-card {
    width: 100% !important;
    background-color: transparent;    
}
mat-card-content {
    margin-left: 55px;    
}

.contact-item {
    width: 100%;
    cursor: pointer;
    background-color: lightgoldenrodyellow;
}

table { 
    width: 100%; 
}
.contact-photo {
    width: 10px;
}
.contact-name {
    font-weight: bold;
}
.contact-last-message {
    width: 5px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
